.dishes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

.dish-card {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background-color: white;
  border-radius: 35px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 300ms;
}

.dish-card:hover {
  border: 2px solid tomato;
}

.dish-card:hover button {
  background-color: tomato;
  transition: 300ms;
  color: white;
}

.dish-card img {
  width: 100%;
  max-height: 150px;
  border-radius: 35px;
}

.dish-card .price {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.dish-card .dish-name {
  font-size: 1.2em;
  margin: 5px 0;
}

.dish-card .weight {
  color: gray;
  margin: 5px 0;
  margin-top: auto;
}

.dish-card button {
  background-color: #f1eee9;
  margin-top: 15px;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media (max-width: 800px) {
  .dishes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  header h1 {
    text-align: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 22px;
  }

  section h2 {
    text-align: center;
  }

  .dishes {
    grid-template-columns: 1fr;
  }
}
